/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import '../node_modules/ngx-toastr/toastr.css';

@include mat-core();

$primary: mat-palette($mat-indigo, 500);
$accent:  mat-palette($mat-pink, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-family: mat-font-family($config);
  font-weight: normal;
  margin: 0;
}

mat-form-field {
  width: 100%;
}

form {
  padding: 1rem;
  font-size: 20px;
}

button {
  font-size: 20px;
}

.padding-15 {
  padding: 15px !important;
}
