<mat-toolbar color="primary"> <span>Programmers CRUD - Delete user</span> </mat-toolbar>
<div class="container mat-elevation-z8">
  <mat-card-content class="register-container">
    <div class="row">
      <div class="col-md-12" class="padding-15">
        <h3 mat-title>Are you sure?</h3>
        <div mat-dialog-content>
          Id: {{ data.Id }}
          <p></p>
          Name: {{ data.Name }}
          <p></p>
          E-mail: {{ data.Email }}
          <p></p>
          Telephone: {{ data.Telephone }}
          <p></p>
        </div>

        <div mat-dialog-actions>
          <button mat-button (click)="confirmDelete()">Delete</button>
          <button mat-button routerLink="/home" tabindex="-1">Back</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</div>
