<mat-toolbar color="primary"> <span>Programmers CRUD - New user</span> </mat-toolbar>
<div class="container mat-elevation-z8">
  <mat-card-content class="register-container">
    <form (ngSubmit)="(submit)" #formControl="ngForm">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field color="accent">
            <input
              matInput
              #inputname
              class="form-control"
              placeholder="Name"
              [(ngModel)]="data.Name"
              name="name"
              maxlength="80"
              required
            />
            <mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
            <mat-hint align="end">{{ inputname.value?.length || 0 }}/80</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field color="accent">
        <input
          matInput
          #inputemail
          class="form-control"
          placeholder="E-mail"
          [(ngModel)]="data.Email"
          name="email"
          maxlength="150"
          required
        />
        <mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
        <mat-hint align="end">{{ inputemail.value?.length || 0 }}/150</mat-hint>
      </mat-form-field>

      <mat-form-field color="accent">
        <input
          matInput
          class="form-control"
          placeholder="Telephone"
          [(ngModel)]="data.Telephone"
          name="telephone"
          mask="(00) 00000-0000"
          required
        />
        <mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>

      <div mat-dialog-actions>
        <button
          mat-button
          [disabled]="!formControl.valid"
          (click)="save()"
        >
          Save
        </button>
        <button mat-button routerLink="/home" tabindex="-1">Voltar</button>
      </div>
    </form>
  </mat-card-content>
</div>
